*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: lightslategray;
}

.container label{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    color: white;
    margin-right: 40px;
}

.container img{
    width: 35px;
    height: 45px;
    margin-right: 100px;
}



